<app-header></app-header>
<!--<app-sidenav (setSidenavControl)="setSidenav"></app-sidenav>

<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened">Sidenav</mat-sidenav>
    <mat-sidenav-content>Main</mat-sidenav-content>
    <!--<mat-sidenav-content>Main</mat-sidenav-content
    <router-outlet></router-outlet>
</mat-sidenav-container>

<head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>Hello Angular 13</title>
</head>-->

<a routerLink="">Home</a>
<a routerLink="doctors"> doctors</a>

<router-outlet></router-outlet>